{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h4>Czy na pewno chcesz usunąć turniej? <b>{{ del_tournament.title }}</b></h4>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-danger"> Usuń </button>
{##}
{#    <button type="button" style="background-color:Tomato; " class="btn btn-primary"> <a style="color:white;" href = "{% url 'tournaments:tournaments_list' %}"> Usuń turniej </a></button>#}
{#          <button type="submit" class="btn btn-danger"><a href = "{% url 'tournaments:tournaments_list'%}"></a> Usuń </button>#}
    </form>
  </div>
{% endblock %}


{#<form action="delete_tournament" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}