{% extends "base.html" %}

{% block content %}
     <img src="/static/sword.jpeg" width="225" height="225" alt="zdj">
    <p><h2>  <a style="text-decoration: none;" href = "{% url 'tournaments:add_tournament' %}"> Dodaj turniej </a>  </h2></p>

    <hr>

        <h3>Lista turniejów:</h3>

     <div class="pagination">
        <span class = "step-links">
        {% if tournaments_list.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ tournaments_list.previous_page_number }}">poprzednia</a>
        {% endif %}
        <span class="current">
            strona {{ tournaments_list.number}}  z {{ tournaments_list.paginator.num_pages }}.
        </span>
        {% if tournaments_list.has_next %}
            <a href="?page={{ tournaments_list.next_page_number }}">następna</a>
            <a href="?page={{ tournaments_list.end_index }}">ostatnia</a>
        {% endif %}
        {% if tournaments_list.end_index %}
        {% endif %}
        </span>
    </div>




{% for tournament in tournaments_list  %}
        <div class="list-group">
        <ol>
            <li class="list-group-item">
                <p>  <h5>     <a style="text-decoration: none;" href = "{% url 'tournaments:tournament_details' tournament.id %}" >{{  tournament.title }} </a></h5>  </p>
{#                wydarzenie tworzy: {{ user }}#}


                 {{ tournament.created}} - {{ tournament.user}}

{#                {% for organizer in organizers %}#}
{#                {{  organizer }}#}
{#                {% endfor %}#}
{#                {{  tournament.description }} ,#}
{#                 <a href = "{% url 'tournaments:tournament_details' tournament.id %}" > szczegóły</a>#}

                  {% if tournament.user == request.user %}
                 <button id="delete_tournament" type="button" style="background-color:Tomato; "  class="btn btn-primary"><a style="color:white;" href = "{% url 'tournaments:delete_tournament' tournament.id %}"> Usuń turniej </a></button>
                <button id="delete_tournament" type="button" style="background-color:blue "  class="btn btn-primary"><a style="color:white;" href = "{% url 'tournaments:edit_tournament' tournament.id %}"> Edytuj turniej </a></button>
                 <button id="delete_tournament" type="button" style="background-color:limegreen "  class="btn btn-primary"><a style="color:white;" href = "{% url 'tournament_calculating:tournament_calculate' tournament.id %}"> Przeprowadź turniej </a></button>
                      <p>
                {% endif %}

{#                     {% if user == request.user %}#}
{#    <button id="delete_tournament" type="button" style="background-color:Tomato; "  class="btn btn-primary"><a style="color:white;" href = "{% url 'tournaments:delete_tournament' tournament_id %}"> Usuń turniej </a></button>#}
{#      <button id="delete_tournament" type="button" style="background-color:blue "  class="btn btn-primary"><a style="color:white;" href = "{% url 'tournaments:edit_tournament' tournament_id %}"> Edytuj turniej </a></button>#}
{#         <p>#}
{#     {% endif %}#}


            </li>
        </ol>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class = "step-links">

        {% if tournaments_list.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ tournaments_list.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            strona {{ tournaments_list.number}}  z {{ tournaments_list.paginator.num_pages }}.
        </span>

        {% if tournaments_list.has_next %}
            <a href="?page={{ tournaments_list.next_page_number }}">następna</a>
            <a href="?page={{ tournaments_list.end_index }}">ostatnia</a>
        {% endif %}

        {% if tournaments_list.end_index %}
        {% endif %}
        </span>
    </div>

{% endblock %}

