{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <h3><a href = "{% url 'tournaments:tournaments_list' %}"> Powrót do listy turniejów </a></h3>
        <img src="/static/first.png" alt="zdj">
{#            {% thumbnail "/static/main/img/otwarta.jpeg" "200x200" as im %}#}
{#                <img src="{{ im.url }}" alt="otwarta">#}
{#                dlaczego nie wyświetla się miniaturka?#}
{#            {% endthumbnail %}#}

     <h1> Szczegóły turnieju : </h1>
     <div>
         <ul>
             <li>
                 tytuł:  {{ title }}
             </li>

             <li>
                 opis:  {{ description }}
             </li>
             <li>
                  organizator: {{ organizer }}
             </li>


         </ul>
     </div>

     <div>
         {% if image %}
{#             <img src="{{ image.url }}">#}
             {% thumbnail image "300x300" as im %}
              <img src="{{ im.url }}" alt="zdj">
             {% endthumbnail %}
         {% endif %}
     </div>

         <div>

{#            {% crispy form %}#}

        </div>

{% endblock %}

