{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <h3><a href = "{% url 'tournaments:tournaments_list' %}"> Powrót do listy turniejów </a></h3>


     <h1> Szczegóły turnieju : </h1>
     <div>
         <ul>
             <li>
                 informację o turnieju tworzy: {{ user }}
             </li>
             <li>
                 tytuł:  {{ title }}
             </li>

             <li>
                 opis:  {{ description }}
             </li>
             <li>
                  organizatorzy:
                 {% for organizer in organizers %}
                {{  organizer }}
                {% endfor %}
             </li>
         </ul>
     </div>


    <a class="btn btn-primary" href = "{% url 'tournaments:add_posts' %}"> Dyskusja </a>

    <button id="delete_tournament" type="button" class="btn btn-primary" onclick="delete_tournament">Usuń turniej</button>

     <div>
         {% if image %}
             {% thumbnail image "300x300" as im %}
              <img src="{{ im.url }}" alt="zdj">
             {% endthumbnail %}
         {% endif %}
     </div>

{% endblock %}

