{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% block header %}
{% endblock %}
{% block content %}
<img src="/static/sword.jpeg" alt="mole">
<h3>
    Szczegóły posta :
</h3>
{% if user == request.user %}
<h4>
    <a href = "{% url 'posts:edit_post' post_id %}">
        Edytuj post
    </a>
</h4>
{% endif %}
<div>
    <ul>
        <li>
            id: {{ id }}
        </li>
        <li>
            użytkownik: {{ user }}  {{ instance.user }}  {{ post.user }}  {{ form.user }}  {{ request.user }}
        </li>
        <li>
            tytuł: {{ title }}
        </li>
        <li>
            treść: {{ content }}
        </li>
        <li>
            utwożono: {{ created }}
        </li>
        <li>
            zmodyfikowano: {{ modified }}
        </li>
        <li>
            {% if exemple_file %}
            <div>
                Pobierz:
                <a href ="{{ exemple_file.url }}">
                    przykład
                </a>
            </div>
            {% else %}
            brak załączników
            {% endif %}
        </li>
    </ul>
</div>
<div>
    {% if image %}
    {% thumbnail image "200x200" as im %}
    <img src="{{ im.url }}" alt="obrazek">
    {% endthumbnail %}
    {% else %}
    nie ma obrazka
    {% endif %}
</div>
{% endblock %}