{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% block style %}
<link href ="{% static "tournaments_calculating/css/style.css" %}" rel = "stylesheet">
{% endblock %}
{% block content %}
<div class="list-group">
    <ol>
        <br class="list-group-item">
        <p>

            uczestnicy fazy pucharowej:

            {% for group in groups %}
                <ol>

{#                {% for p in prtcp_ls|dictsortreversed:"points_average" %}#}
              {% for p in group.participants.all|dictsortreversed:"points_average" %}

                <li>
                {{  p.name }} z {{ p.school  }} {{ p.points_average }} {{ p.group_id }}
                 {% if p.image %}
                {% thumbnail p.image "100x100" as im %}
                <img src="{{ im.url }}" alt="zdj">
                {% endthumbnail %}
                    {% endif %}

                </li>

                  {% endfor %}
                <hr>
                 </ol>



                 {% endfor %}
        </div>
        <hr>
                    <style>
                        td, th { border: 1px solid black; }
                    </style>
                    <br>










                            {% endblock %}