{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% block style %}
<link href ="{% static "tournaments_calculating/css/style.css" %}" rel = "stylesheet">
{% endblock %}
{% block content %}
<div class="list-group">
    <ol>
        <br class="list-group-item">
        <p>
            uczestnicy fazy pucharowej turnieju {{ tournament.title }}:

            {% for group in groups|dictsort:"number" %}
                <ol>
 grupa {{ group.number }} {{ group.id }}:
{#                {% for p in prtcp_ls|dictsortreversed:"points_average" %}#}
{#              {% for p in group.participants.all%}#}
                  {% for  p in prtcp_ls %}
{#                  {% if p in finalists.all %}#}
                <li>

                {{  p.name }} z {{ p.school  }} -

                        {% for g_p in group_participants %}
{#                            {%  for finalist in finalists %}#}
                            {% if g_p.participant_id == p.id %}
                {

                    {{ g_p.tournament_points_modified }}
                            {% endif %}
                            {% endfor %}

                 {% if p.image %}
                {% thumbnail p.image "100x100" as im %}
                <img src="{{ im.url }}" alt="zdj">
                {% endthumbnail %}
                    {% endif %}


                </li>
{#                        {% endif %}#}

                  {% endfor %}
                <hr>
                 </ol>


                 {% endfor %}
        </div>
        <hr>
                    <style>
                        td, th { border: 1px solid black; }
                    </style>
                    <br>


                            {% endblock %}