{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static %}
{%  block style %}
<link href="{% static "tournaments_calculating/css/style.css" %}" rel=stylesheet">
{% endblock %}

{% block content %}
   pierwszy zawodnik -
    {% for p in participants %}
        {% for round in rounds %}
            {% if p.id == round.fighter_one_id %}
    {{ p.name}} z {{ p.school }}
                         {% if p.image %}
                {% thumbnail p.image "100x100" as im %}
                <img src="{{ im.url }}" alt="zdj">
                {% endthumbnail %}
                    {% endif %}




    {% endif %}
    {% endfor %}
    {% endfor %}

<br>


               drugi zawodnik -
    {% for p in participants %}
        {% for round in rounds %}
            {% if p.id == round.fighter_two_id %}
    {{ p.name}} z {{ p.school }}

                {% if p.image %}
                {% thumbnail p.image "100x100" as im %}
                <img src="{{ im.url }}" alt="zdj">
                {% endthumbnail %}
                    {% endif %}





    {% endif %}
    {% endfor %}
    {% endfor %}



<form method = "POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}





    <button type="submit"
    class = "btn btn-primary">Wyślij
</button>
</form>
{% endblock %}
{% block additional_scripts %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}