{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% block style %}
<link href ="{% static "tournaments_calculating/css/style.css" %}" rel = "stylesheet">
{% endblock %}
{% block content %}
<div class="list-group">
    <ol>
        <br class="list-group-item">
            <p>
                    <button id="delete_tournament" type="button" style="background-color:red"  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:delete_group' group_id tournament.id %}">
                        Usuń grupę
                    </a>
                </button>
                <h5>
                    grupa {{  number }} turnieju:
                    <a style="text-decoration: none;" href = "{% url 'tournaments:tournament_details' tournament.id %}" >
                        {{  tournament.title }}
                    </a>
                </h5>
                {% if tournament.user == request.user %}
                <button id="delete_tournament" type="button" style="background-color:lightseagreen "  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournaments:add_participant' tournament.id group_id%}">
                        Dodaj uczestnika
                    </a>
                </button>
                    <button id="delete_tournament" type="button" style="background-color:green"  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:draw_fights' group_id %}">
                        Losuj walki
                    </a>
                </button>
                    <button id="delete_tournament" type="button" style="background-color:darkred"  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:delete_fights' group_id tournament.id   %}">
                    Usuń walki
                    </a>
                </button>


                {% endif %}
                </br>
                </br>
                uczestnicy:
                </br>
                {% for participant in participants %}
                <ul>
                    <li>
                        <a style="text-decoration: none;" href = "{% url 'tournament_calculating:participant_details' participant.id %}" >
                            {{  participant.name }}
                        </a>
                        {% if tournament.user == request.user %}
                        <a style="color:red;  column-count: 2;"   href = "{% url 'tournament_calculating:delete_group_participant' group_id tournament.id participant.id%}" >
                            usuń
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
            </ol>
        </ol>
    </div>
    <hr>

{% if fighters_one_names %}

     <center>starcia:
                        <button id="delete_tournament" type="button" style="background-color:orange"  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:add_rounds' group_id   %}">
                    ile starć:
                    </a>
                </button>
        {% if rounds %}
    {{ rounds }}
            {% else %}
            dodaj ile starć ma mieć każda walka
    {% endif %}
    </center>
    walki:
                <br/>
                <ol>
                    <br/>
                    <style>
                        td, th { border: 1px solid black; }
                    </style>
                    <table BORDER CELLSPACING=5 CELLPADDING=15>
                        <tr>
                            {% for i in fights_numbers %}
                            <td>
                                {{ i }}
                            </td>
                            {% endfor %}
                        </tr>



                        <tr>
                                {% for fighter in fighters_one_names %}
                            <td>
                                <a style="text-decoration: none;" href = "{% url 'tournament_calculating:participant_details' fighter.id %}" >
                            {{ fighter.name }}
                                </a>
                            </td>
                            {% endfor %}
                        </tr>



                        <tr>
                            {% for fighter in fighters_two_names  %}
                            <td>
                     <a style="text-decoration: none;" href = "{% url 'tournament_calculating:participant_details' fighter.id %}" >
                                {{ fighter.name }}
                            </td>
                            {% endfor %}
                        </tr>



                        <tr>
                          {% for fighter in fighters_one_names %}
                            <td>

                    <button id="delete_tournament" type="button" style="background-color:orange"  class="btn btn-primary">
                    <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:add_rounds' group_id   %}">
                    walka
                    </a>
                </button>
                      </td>
                                {% endfor %}
                        </tr>




{#                                {% for i in iter_rounds %}#}

{#                    {% for i in rounds %}#}

                            <tr>
{#                            {% endfor %}#}
                          {% for fighter in fighters_one_names %}

                              {% if rounds %}
                                  <td>
                                  ?
                              {% endif %}
                              </td>
                                 {% endfor %}

                    </tr>


                    </table>
                    <style>
                        td, th { border: 1px solid black; }
                    </style>
                </ol>
            </div>
            <hr>
    {% endif %}
    <div>
        {% if image %}
        {% thumbnail image "300x300" as im %}
        <img src="{{ im.url }}" alt="zdj">
        {% endthumbnail %}
        {% endif %}
    </div>
    {% endblock %}