{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% block style %}
<link href ="{% static "tournaments_calculating/css/style.css" %}" rel = "stylesheet">
{% endblock %}
{% block content %}
<div class="list-group">
    <ol>
        <br class="list-group-item">
        <p>
            {% if tournament.user == request.user %}
            <button id="delete_tournament" type="button" style="background-color:red"  class="btn btn-primary">
                <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:delete_group' group_id tournament.id %}">
                    Usuń grupę
                </a>
            </button>
            {% endif %}
            <h5>
                grupa {{  number }} turnieju:
                <a style="text-decoration: none;" href = "{% url 'tournaments:tournament_details' tournament.id %}" >
                    {{  tournament.title }}
                </a>
                {% if tournament.image %}
                {% thumbnail tournament.image "100x100" as im %}
                <img src="{{ im.url }}" alt="zdj">
                {% endthumbnail %}
                {% endif %}
            </h5>
            {% if tournament.user == request.user %}
            <button id="delete_tournament" type="button" style="background-color:lightseagreen "  class="btn btn-primary">
                <a style="color:white; text-decoration: none;" href = "{% url 'tournaments:add_participant' tournament.id group_id%}">
                    Dodaj uczestnika
                </a>
            </button>
            <button id="delete_tournament" type="button" style="background-color:plum"  class="btn btn-primary">
                <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:draw_fights' group_id %}">
                    Losuj walki
                </a>
            </button>
            <button id="delete_tournament" type="button" style="background-color:coral"  class="btn btn-primary">
                <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:delete_fights' group_id tournament.id   %}">
                    Usuń walki
                </a>
            </button>
            {% endif %}
            uczestnicy:
            {% for participant in participants %}
            <ul>
                <li>
                <br>
                    <a style="text-decoration: none;" href = "{% url 'tournament_calculating:participant_details' participant.id %}" >
                        <b>  {{  participant.name }} z {{ participant.school  }} </b>
                        <div>
                            {% if participant.image %}
                            {% thumbnail participant.image "100x100" as im %}
                            <img src="{{ im.url }}" alt="zdj">
                            {% endthumbnail %}
                            {% endif %}
                        </a>
                        {% if tournament.user == request.user %}
                        <a style="color:red;  column-count: 2;"   href = "{% url 'tournament_calculating:delete_group_participant' group_id tournament.id participant.id%}" >
                            usuń
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
            </ol>
        </div>
        <hr>
        {% if fighters_one_names %}
        <center>
            FAZA GRUPOWA
            <button id="delete_tournament" type="button" style="background-color:orange"  class="btn btn-primary">
                <a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:add_rounds' group_id   %}">
                    ile starć:
                </a>
            </button>
            {% if rounds %}
            {{ rounds }}
            {% else %}
            dodaj ile starć ma mieć każda walka
            {% endif %}
        </center>
            <h5>walki grupa {{  number }} :</h5>
{#        <br/>#}


            <table  BORDER CELLSPACING=5 CELLPADDING=15>
                <tr>
                    {% for fight in fights%}
                    <td>
                        {{ fight.order}}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for fighter in fighters_one_names %}
{#                    <td style=" background: {{ group.color_fighter_one}} ">#}
                     <td style=" background: lightyellow ">

                        <a style="text-decoration: none; color:black" href = "{% url 'tournament_calculating:participant_details' fighter.id %}" >
                          <b>{{ fighter.name }}</b>
                        </a>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for fighter in fighters_two_names  %}
                    <td style=" background: deepskyblue">
                        <a style="text-decoration: none; color:black" href = "{% url 'tournament_calculating:participant_details' fighter.id %}" >
                            <b>{{ fighter.name }}</b>
                        </td>
                        {% endfor %}
                    </tr>
                    {% for fight in fights %}
                    <td>
                        {% for r in fight.rounds_of_fight.all|dictsort:"id" %}
                        <a id="delete_tournament" class="btn btn-primary" style="color:white; background-color:orange; text-decoration: none;   " href = "{% url 'tournament_calculating:add_points' group_id fight.id r.id    %}">
                            {% if r.points_fighter_one > 0 or r.points_fighter_one == 0%}
                                <b>
                            <span style=" color: white"> {{ fight.fighter_one.name }}:</span>
                                </b>
                            <b>
                                <span style=" color: black" > {{ r.points_fighter_one }}</span>
                            </b>
                            {% endif %}

                            {% if r.points_fighter_two > 0 or r.points_fighter_two == 0%}

                            <hr style="color: black">
                                <b>
                             <span style=" color: white">{{ fight.fighter_two.name }}: </span>
                                </b>
                            <b>
                               <span style=" color: black"> {{ r.points_fighter_two }}</span>
                            </b>

                            {% else %}
                                <b>       starcie  {{ r.order }}</b>

                            {% endif %}
                        </a>
                        <br>
                        <br>
                        {% endfor %}

                        <br>

                        {{ fight.fighter_one.name }}:
                        {% if fight.fighter_one_points %}
                       <b>{{ fight.fighter_one_points }}</b>
                        {% endif %}
                        <br>
                        {{ fight.fighter_two.name }}:
                        {% if fight.fighter_two_points %}
                        <b>{{ fight.fighter_two_points }}</b>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        <tr>
                        </tr>
                    </table>

                    <style>
                        td, th { border: 1px solid black; }
                    </style>

<br>
                <table BORDER CELLSPACING=5 CELLPADDING=15 >
                    <thead>
                    <tr><h5>punkty cząstkowe zebrane grupa {{  number }}  </h5></tr>
                        <tr>
                            {% for group in groups %}
                            <th style="background: bisque">
                                grupa nr {{ group.number }}
                                {% endfor %}
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        {% for gr in groups %}
                        <td>
                            <table BORDER CELLSPACING=5 CELLPADDING=15>
                                <tr>
                                    {% for participant in gr.participants.all %}
                                    <td>
                                        {{ participant.name }} -
                                        {% if participant.group_points is not None %}
                                        <b>{{ participant.group_points }}</b>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endfor %}
{#                            {{ grups }}#}
                        </tr>
                    </table>


     <table BORDER CELLSPACING=5 CELLPADDING=15 >
                    <thead>
                    <br>
                    <tr><h5>punkty wyjściowe grupa {{  number }} </h5>(średnia punktów w turnieju z odbytych walk - <span style="color: crimson">{{ tournaments_fighters_average}}</span>)</tr>
                        <tr>
                            {% for group in groups %}
                            <th style="background: burlywood">
                                grupa nr {{ group.number }}
                                {% endfor %}
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        {% for gr in groups %}
                        <td>
                            <table BORDER CELLSPACING=5 CELLPADDING=15>
                                <tr>
                                    {% for participant in gr.participants.all|dictsortreversed:"points_average" %}
                                    <td>
                                        {{ participant.name }} -
                                        {% if participant.points_average is not None %}
                                       <b>{{ participant.points_average }}</b>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endfor %}
{#                            {{ grups }}#}
                        </tr>
                    </table>


                    {% endblock %}