{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{% block style %}
    <link href ="{% static "tournaments_calculating/css/style.css" %}" rel = "stylesheet">
{% endblock %}

{% block content %}

  <div class="list-group">
        <ol>
            <li class="list-group-item">
            <p>  <h5> grupa {{  number }} turnieju:  <a <a style="text-decoration: none;" href = "{% url 'tournaments:tournament_details' tournament.id %}" >{{  tournament.title }} </a> </h5>
                {% if tournament.user == request.user %}
         <button id="delete_tournament" type="button" style="background-color:lightseagreen "  class="btn btn-primary"><a style="color:white; text-decoration: none;" href = "{% url 'tournaments:add_participant' tournament.id group_id%}"> Dodaj uczestnika </a></button>
                      <button id="delete_tournament" type="button" style="background-color:red"  class="btn btn-primary"><a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:delete_group' group_id tournament.id %}"> Usuń grupę </a></button>
{#                     <button id="delete_tournament" type="button" style="background-color:orange "  class="btn btn-primary"><a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:draw_fights:' tournament.id group_id%}"> wylosuj walki w grupie </a></button>#}
                {% endif %}
            uczestnicy:
             <br/>
            <ol>
             <br/>
            {% for participant in participants %}

                 <li> <a style="text-decoration: none;" href = "{% url 'tournament_calculating:participant_details' participant.id %}" >{{  participant.name }} </a>
                      {% if tournament.user == request.user %}
                     <a style="color: red" href = "{% url 'tournament_calculating:delete_group_participant' group_id tournament.id participant.id%}" >  usuń </a> </li>
                 {% endif %}

            {% endfor %}
             <br/>
 </ol>

            walki:
             <br/>
{#                <p> {{ first_participant.name }}  <-pierwszy </p>#}
{#        <p>{{ last_participant.name }} <-ostatni</p>#}
            {% for list_name in listed_names %}
 <br/>
                <p>{{ listed_names }} listed_names</p>
            {% endfor %}
{#        <p>{{ listed_participants }} listed_participants  </p>#}
{#         <p>{{ participants }} participants </p>#}
{#         <p>{{ participants_names }} participants_names</p>#}
{#             {% for r in result %}#}
{#              <p>{{ r }} to jest result</p>#}
{#             {% endfor %}#}
           <ol>
            <br/>
            {%  for r in result %}
            <li><p>{{ r }} </p></li>
{#       <li><p>{{ r }} <button id="delete_tournament" type="button" style="background-color:orange"  class="btn btn-primary"><a style="color:white; text-decoration: none;" href = "{% url 'tournament_calculating:tournament_calculate' group_id fight_id %}"> dodaj starcia </a></button></p></li>#}
        {% endfor %}
        </ol>
            {% for f in fights %}
                <p> nowe próby {{ f }}</p>
            {% endfor %}
{#            <p> nowe próby {{ second_fighter }}</p>#}

{#             <p>{{ my_li }} to jest my_li</p>#}
{#             {% for pn in participants %}#}
{#         <p>{{ pn.name }} to jest pn.name</p>#}

{#                 {% for index, first_fighter in enumerate(participants) %} #}

{# {% endfor %}#}
  </div>

<hr>
     <div>
                {% if image %}
                    {% thumbnail image "300x300" as im %}
                      <img src="{{ im.url }}" alt="zdj">
                     {% endthumbnail %}
             {% endif %}
     </div>

{% endblock %}

