{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% load cloudinary %}

{% block style %}
<link href ="{% static "organizers/css/style.css" %}" rel = "stylesheet">
{% endblock %}
{% block content %}
<h3>
    <a style="text-decoration: none;" href = "{% url 'organizers:organizers_list' %}">
        <-Powrót do listy organizatorów </a>
    </h3>
    <h2>
        Szczegóły organizatora :
    </h2>
    <div>
        <ul>
            <li>
                informację o organizatorze tworzy:
                <p style="font-family: luminari fantasy;">
                    {{ user }}
                </p>
            </li>
            <li>
                nazwa:
                <p style="font-family: luminari fantasy;">
                    {{ name }}
                </p>
            </li>
            <li>
                opis:
                <p style="font-family: luminari fantasy;">
                    {{ description }}
                </p>
            </li>
        </ul>
    </div>
    {% if user == request.user %}
    <button id="delete_organizer" type="button" style="background-color:Tomato; "  class="btn btn-primary">
        <a style="color:white;" href = "{% url 'organizers:delete_organizer' organizer_id %}">
            Usuń organizatora
        </a>
    </button>
    <button id="delete_tournament" type="button" style="background-color:blue "  class="btn btn-primary">
        <a style="color:white;" href = "{% url 'organizers:edit_organizer' organizer_id %}">
            Edytuj organizatora
        </a>
    </button>
    <p>
        {% endif %}
        <div>
            {% if image %}

                {% cloudinary image width="100" crop="fill" %}

{#            {% thumbnail image "300x300" as im %}#}
{#            <img src="{{ im.url }}" alt="zdj">#}
{#            {% endthumbnail %}#}
            {% endif %}
        </div>
        {% endblock %}