<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1>To jest strona główna </h1>
        <h5>Jest to aplikacja turniejowa, tu dodamy opis i co potrzeba</h5>
        <p> a na razie tu jest moja lista zadań :</p>
        <ol>

          ---------------------aktualnie:

             <li> automatyczne dodawanie wyniku starcia oponentowi</li>

         <li> tabelki ze statystykami</li>
         <li> finały </li>



----------------------------------
          <li> poprawki kodu, czyszczenie, sprawdzenie </li>
          <li> umiszczenie na serwerze </li>


        </ol>
        <img src="/static/serce.jpg" width="480" height="360" alt="zdjecie">
    {% endblock %}
</body>
</html>